@font-face {
    font-family: "Fira Sans";
    src: url('../fonts/FiraSans.woff2') format('woff2');
}

.navbar {
  background-color: #45546B;
  font-family: 'Fira Sans';
  .navbar .navbar-nav .nav-link.active {
    color: #0ABAF0; }
}

a {
  color: #0ABAF0;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #45546B;
 }

 #navbar-main .main-menu-item ul li .nav-link {
  color: #ffffff; }




.navbar {
  background: #45546B;
      .navbar .navbar-nav .nav-link.active {
        font-weight: bold !important;
        color: #0ABAF0 !important; }
      }

